# Python virtual environments
env/
env1/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
